<a href="https://colab.research.google.com/github/FranQyy/CL_repo/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [3]:
df = pd.DataFrame({'a': [1,2,3,4], 'b':[55,34,54,22]})
df

   a   b
0  1  55
1  2  34
2  3  54
3  4  22